body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    display: inline-block;
}

h1{
    color:black;
    font-size: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

p{
    font-size: 22px;
}

.unordered-list{
    list-style-type:square;
    font-size: 22px;
}

#main-menu{
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    list-style: none;
    display: block;
    border-style: solid;
    border-color: blue;
}

#main-menu li{
    display: inline;
    margin: 10px;
}
ol{
    font-size: 22px;
}
