body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    display: inline-block;    
}

h1{
    color:black;
    font-size: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

p{
    font-size: 22px;
}

.unordered-list{
    list-style-type:square;
    font-size: 22px;
}

#main-menu{
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    list-style: none;
    display: block;
    border-style: solid;
    border-color: blue;
    border-radius: 15px;
}

#main-menu li{
    display: inline-block;
    background-color: black;
    margin: 10px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
}

#main-menu li a{
    text-decoration: none;
    color: white;
}
ol{
    font-size: 22px;
}
