body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}

h1{
    color:black;
    font-size: 50px;
    font-weight: 700;
}

h2{
    font-size: 40px;
    font-weight: 700;
}

p{
    font-size: 22px;
}

.unordered-list{
    list-style-type:square;
    font-size: 22px;
}

#main-menu{
    font-size: 24px;
    list-style: none;
}

ol{
    font-size: 22px;
}
